:host {
    --bright-blue: oklch(58.86% 0.274 263.83);
    --forest-green: oklch(40% 0.274 141.75);

    --gray-900: oklch(19.37% 0.006 300.98);
    --gray-700: oklch(36.98% 0.014 302.71);
    --gray-400: oklch(70.9% 0.015 304.04);

    --blue-to-green-horizontal-gradient: linear-gradient(
        90deg,
        var(--bright-blue) 0%,
        var(--forest-green) 100%
    );

    --blue-to-green-vertical-gradient: linear-gradient(
        180deg,
        var(--bright-blue) 0%,
        var(--forest-green) 100%
    );

    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
        "Segoe UI Symbol";
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
}


.burg {
    transform: rotate(90deg);
    color: #ffffff
}


.mat-toolbar, .mat-toolbar-single-row {
    position: fixed;
    display: flex;
    padding: 0 0px;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 2;
    background-color: #2980b9;

    h1 {
        color: #ffffff;
    }

}

.mat-sidenav-container {
    background-color: #ffffff;

    .mat-sidenav {
        box-shadow: 0 0 0 0 !important;
        position: fixed;
        width: 180px;
        top: 45px;
        left: 0px;
        background-color: #2980b9;

        .nav-item {
            display: inline-block;
            height: auto;
            width: auto;
            color: #ffffff;
            background-color: #2980b9;
            border: none;
            font-size: 14px;
            margin-top: 6px;
        }
    }
}
