<mat-toolbar>
  <button mat-icon-button (click)="opened=!opened" aria-label="Menu icon">
    <mat-icon class="burg">|||</mat-icon>
  </button>
  <h1>Stardew Valley</h1>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav [(opened)]="opened" mode="over">
    <mat-nav-list  [disableRipple]="true">
      <a mat-list-item class="nav-item" routerLink='/home' (click)="opened=!opened">Home</a>
      <a mat-list-item class="nav-item" routerLink='/start' (click)="opened=!opened">Getting Started</a>
      <a mat-list-item class="nav-item" routerLink='/skills' (click)="opened=!opened">Skills</a>
    </mat-nav-list>
  </mat-sidenav>
</mat-sidenav-container>
<router-outlet></router-outlet>
